In [40]:
from sklearn.model_selection import train_test_split

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

import pandas as pd
import tensorflow as tf


# df = pd.read_csv('data/ThoraricSurgery.csv', col=['','','','','','','','','','','','','','','','','',''])
df = pd.read_csv('data/ThoraricSurgery.csv',header = None)
df

      0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0    293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62   0
1      1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60   0
2      8   2  3.19  2.50   1   0   0   0   1   0  11   0   0   1   1   0  66   1
3     14   2  3.98  3.06   2   0   0   0   1   1  14   0   0   0   1   0  80   1
4     17   2  2.21  1.88   0   0   1   0   0   0  12   0   0   0   1   0  56   0
..   ...  ..   ...   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
465   98   6  3.04  2.40   2   0   0   0   1   0  11   0   0   0   1   0  76   0
466  369   6  3.88  2.72   1   0   0   0   1   0  12   0   0   0   1   0  77   0
467  406   6  5.36  3.96   1   0   0   0   1   0  12   0   0   0   0   0  62   0
468   25   8  4.32  3.20   0   0   0   0   0   0  11   0   0   0   0   0  58   1
469  447   8  5.20  4.10   0   0   0   0   0   0  12   0   0   0   0   0  49   0

[470 rows x 18 columns]

In [41]:
df.shape

(470, 18)

In [42]:
469*0.7

328.29999999999995

In [43]:
train, test = train_test_split(df, test_size = 0.3)

In [48]:
x_train = train[0:17]
y_train = train.iloc[17]

train_arr = train.to_numpy()
test_arr = test.to_numpy()
# X_train = train_arr[:, 0:17]
# Y_train = test_arr[:, 17]

model = Sequential()
model.add(Dense(30, input_dim=17, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])
x_train
# model.fit(x_train,y_train)
# print(type(train_arr))
# print(X_train)
# print(train.shape)

      0   1     2      3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
156  143   3  5.17   4.30   1   0   0   0   0   0  11   0   0   0   0   0  47   0
117   85   3  4.28   3.28   0   0   0   0   0   0  12   0   0   0   1   0  51   0
152  138   3  2.08   1.52   1   0   0   0   1   0  14   0   0   0   1   0  49   1
119   87   3  4.90   4.19   0   0   0   1   1   0  12   0   0   0   0   0  52   0
294  318   3  2.48   2.12   1   0   0   1   1   0  12   0   0   0   1   0  78   0
462  421   5  4.96   4.16   1   0   0   0   1   0  11   0   0   0   1   0  62   1
309  341   3  3.88   2.92   0   0   0   0   0   0  11   0   0   0   1   0  67   1
386  450   3  2.84   1.88   1   0   0   0   1   0  12   0   0   0   1   0  53   1
72    28   3  3.40   3.06   1   0   0   0   1   1  11   0   0   0   1   0  68   1
55     4   3  3.68   3.04   0   0   0   0   0   0  11   0   0   0   0   0  54   0
383  445   3  2.56  60.90   0   0   0   0   0   0  11   0   0   0   1   0  50   0
74    31   3  3.24   2.40   1   1   1   0   0   0  14   0   0   0   1   0  55   1
51   448   2  4.40   3.72   1   0   0   0   1   1  12   0   0   0   1   0  52   0
382  444   3  4.12   3.20   2   0   0   0   1   1  11   0   0   0   0   0  76   0
263  279   3  4.57   4.57   1   0   0   0   1   0  11   0   0   0   0   0  55   0
448  464   4  3.44   2.16   1   0   0   0   1   1  12   1   0   0   1   0  57   1
185  179   3  4.32   4.32   1   0   1   0   1   1  12   0   0   0   1   0  48   0